<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="spring.user.mapper.ReviewMapper">
 
 <insert id="insertReview" keyProperty="review_id" parameterType="review">
 	insert into review values(#{review_id},#{customer_id},#{review})
 
 </insert>
 
 
 </mapper> 